body{
    background:  azure;}

.tablex tr:nth-child(odd) {
    background-color: #13D6B0;
}

.tablex tr:nth-child(even) {
    background-color: #f42A2f;
    color:white;
}


.tablex tr:hover {
    background-color: white;
    color:black;
    font-weight: bolder;
}


input[type=text] {padding:5px; border:2px solid #ccc; 
                  -webkit-border-radius: 5px;
                  border-radius: 5px;
}
input[type=text]:focus {border-color:#333; }

input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
                    cursor:pointer;
                    -webkit-border-radius: 5px;
                    border-radius: 5px; }

input[type=submit]:hover {padding:5px 15px; background:whitesmoke; border:0 none;
                          color:black;
                          cursor:pointer;
                          -webkit-border-radius: 5px;
                          border-radius: 5px; }